*.apk
*.ap_
*.dex
*.class
bin/
gen/
*.iml
*.ipr
*.iws
.idea/
.svn

.classpath
.project

.settings/

proguard/

AccountClient/
AppList/
BitmapCache/
BluetoothService/
BluetoothServiceJar/
CallCenter/
DeviceActivator/
Home/
InsuranceActivity/
Location/
Music/
MusicAIDLClient/
POC_UI_APKS/
POC_UI_ROM/
Phone/
PhoneServices/
PlayerJar/
Radio/
RadioJar/
RadioService/
Radio_UI/
Setting/
SpeechClient/
SpeechJNI/
SpeechSuitePack/
SpeechSuitePackCata/
Systemupdate/
SystemupdateManager/
TestBluetooth/
UtilTest/
Utils/
Vitamio/
VitamioForService/
Volume/
News/
PullToRefreshlib/
androidpulltorefreshlibrary/
cscope.*
location.service/
SystemUI/
util.txt
LocationService/
Nearby/
VehicleCondition/

.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
*.iml
/*/build
